html {
  height: 100%;
}
body {
  min-height: 100%;
}
#root {
  height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1vmin);
  color: white;
  /*margin-bottom: 1vmin;*/
}

.App {
  background: url("assets/of-Wallpapers-images-football-1-920x518.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

.choose-team {
  display: flex;
  flex-direction: row;
  background: rgba(0,0,0, 0.75);
  align-content: space-evenly;
  max-width: 650px;
  margin: 0 5%;
  padding: 0 2vmin;
  max-height: 92.8vh;
}

.left {
  display: flex;
  flex-direction: column;
}

.field {
  height: 500px;
  width: 330px;
  background: url("assets/field.png");
  object-fit: cover;
  position: relative;
  margin: 2vmin;
  background-repeat: no-repeat;
  background-size: 330px 500px;
}

.substitution-bench {
  width: 330px;
  height: 100px;
  margin: 0 2vmin;
  background: #bab9b9;
}

.player-list-wrapper {
  width: 400px;
  display: block;
  margin: 2vmin;
  /*max-height: 92.8vh;*/
  /*overflow-y: scroll;*/
  /*overflow-x: hidden;*/
}

.player-list {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 82.5vh;
}

.player {
  height: 25px;
  width: 100%;
  cursor: pointer;
  background: #bab9b9;
  color: white;
  margin-bottom: 2px;
  padding: 4px;
}

.position {
  height: 50px;
  width: 50px;
  cursor: pointer;
  border: 1px solid #bab9b9;
  color: white;
  text-align: center;
  vertical-align: center;
}

/* center forward position */
.FW {
  position: absolute;
  top: 8%;
  left: 40%;
}

/* left forward position */
.FWL {
  position: absolute;
  top: 10%;
  left: 8%;
}

/* right forward position */
.FWR {
  position: absolute;
  top: 10%;
  right: 8%;
}

/* Left MidFielder */
.LMF {
  position: absolute;
  top: 35%;
  left: 2%;
}

/* Left center MidFielder */
.LCMF {
  position: absolute;
  top: 30%;
  left: 28%;
}

/* Right MidFielder */
.RMF {
  position: absolute;
  top: 35%;
  right: 2%;
}

/* Right center MidFielder */
.RCMF {
  position: absolute;
  top: 30%;
  left: 55%;
}

/* defender */
.DF {
  position: absolute;
  top: 60%;
  right: 40%;
}

/* left defender */
.LDF {
  position: absolute;
  top: 60%;
  left: 20%;
}

/* right defender */
.RDF {
  position: absolute;
  top: 60%;
  right: 18%;
}

.GK {
  position: absolute;
  top: 80%;
  right: 40%;
}
